html{
  scroll-behavior: smooth;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
p{
  font-size: 18px;
}
li{
  font-size: 18px;
}
.jumbotron{
  background-color: white;
}
h2 {
  color: #00A6A5;
}
#Avatar{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
