html{
  scroll-behavior: smooth;
}
body {
    opacity: 1;
    transition: 2s opacity;
    font-family: 'Dosis', sans-serif;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
p{
  font-size: 18px;
  text-align: center;
}
a:hover{
  cursor: pointer;
}
input{
  margin-bottom: 20px;
}
button{
  border: none;
  background: transparent;
  color: white;
}
button:hover{
  transition: 2s ease;
  color: black;
}
/* .collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.active, .collapsible:hover {
  background-color: #66b1f1;
  color: white;
  -webkit-transition: 1s ease;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  background-color: transparent;
} */

a {
  text-decoration: none;
}
.navbar-tabs, .navbar-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em;
}
.navbar-tabs h1, .navbar-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.navbar-tabs h3, .navbar-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.navbar-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10;
}
.navbar-tabs-container--top {
  position: fixed;
  top: 0;
}
.navbar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.navbar-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}
.navbar-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .navbar-tabs h1, .navbar-slide h1 {
    font-size: 3rem;
  }
  .navbar-tabs h3, .navbar-slide h3 {
    font-size: 1rem;
  }
  .navbar-tab {
    font-size: 1rem;
  }
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  background: #66b1f1;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #66b1f1;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: black;
}

.svg-wrapper:hover {
  background: white;
  transition: 1s all ease;
}

#text a:hover{
  color: black;
  transition: 1s all ease;
}
