html{
  scroll-behavior: smooth;
}
body {
    opacity: 1;
    transition: 2s opacity;
    font-family: 'Nunito Sans', sans-serif;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
p{
  font-size: 18px;
  text-align: center;
}
a:hover{
  cursor: pointer;
}
input{
  margin-bottom: 20px;
}
button{
  border: none;
  background: transparent;
  color: white;
}
button:hover{
  transition: 2s ease;
  color: black;
}
button:active{
  border: none;
}

a {
  text-decoration: none;
}
.navbar-tabs, .navbar-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em;
}
.navbar-tabs h1, .navbar-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.navbar-tabs h3, .navbar-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.navbar-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10;
}
.navbar-tabs-container--top {
  position: fixed;
  top: 0;
}
.navbar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.navbar-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}
.navbar-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .navbar-tabs h1, .navbar-slide h1 {
    font-size: 3rem;
  }
  .navbar-tabs h3, .navbar-slide h3 {
    font-size: 1rem;
  }
  .navbar-tab {
    font-size: 1rem;
  }
}

.btn-primary {
    color: #ffffff;
    background-color: #66b1f1;
    border-color: #66b1f1;
}

.btn-primary:hover {
    color: #66b1f1;
    background-color: #ffffff;
    border-color: #66b1f1;
    transition: 1s all ease;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #66b1f1;
    background-color: #66b1f1;
    border-color: #66b1f1;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #66b1f1;
    background-color: #66b1f1;
    border-color: #66b1f1;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-outline-primary {
    color: #66b1f1;
    background-color: transparent;
    background-image: none;
    border-color: #66b1f1;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #66b1f1;
    border-color: #66b1f1;
    transition: 1s all ease;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #66b1f1;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #66b1f1;
    background-color: #66b1f1;
    border-color: #66b1f1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}
