@charset "utf-8";
/* CSS Document */

body {
  background: #eee;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

table {
  font-family: 'Nunito', sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
